@import "../../styles/variables.scss";

.custom-table-container {
  width: 100%;
  background: #fff;
  border-radius: 12px;
  padding: 12px;
}

/* Таблица */
.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

/* Заголовок */
.custom-table thead th {
  padding: 12px;
  height: 36px;
  text-align: left;
  font-weight: 500;
  color: #333;
}

/* Вся строка */
.td-full {
  padding: 0;
  border: none;
}

/* Контейнер строки */
.row-box {
  display: grid;
  grid-template-columns: var(--table-grid);
  gap: 0;
  padding: 14px 16px;

  border: 1px solid var(--row-border-color);
  border-radius: 12px;

  background: #fff;
  transition: background 0.15s ease;
}

.row-box:hover {
  background: rgba(0, 0, 0, 0.03);
  cursor: pointer;
}

/*** Ячейки ***/
.cell {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0; /* фикс для переполнения */
}

/*** Заголовок + иконка ***/
.title-with-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title-text {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.info-btn {
  border: none;
  background: transparent;
  padding: 4px;
  cursor: pointer;
  flex-shrink: 0;
}

.info-btn img {
  width: 20px;
  height: 20px;
  transition: transform .15s ease;
}

.info-btn:hover img {
  transform: scale(1.4);
}

/*** Бейджи ***/
.cell-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 6px 10px;
  border-radius: 12px;
  border: 1px solid var(--row-border-color);
  background: var(--badge-bg);

  white-space: nowrap;
  font-size: 14px;
}

/* Пустая строка */
.empty-row td {
  text-align: center;
  padding: 20px;
  color: #777;
}
