@import 'Styles/mixins';
@import 'Styles/variables';

.ActionsMenu {
    @include text2;
    background-color: $white;
    border: 1px solid $grey2;
    border-radius: $border-radius;
    padding: 4px;
    list-style: none;
  
    li {
      padding: 8px 12px;
      width: 100%;

      border-radius: $border-radius;
      cursor: pointer;
  
      &:hover {
        background-color: $yellow;
      }
    }
}