{$APP_DOMAIN} {
    encode gzip zstd

    handle_path /static/* {
        root * /srv/django-static
        file_server
    }

    handle /api/* {
        reverse_proxy backend:8000 {
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
        }
    }

    handle /admin* {
        reverse_proxy backend:8000 {
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
        }
    }

    handle /swagger* {
        reverse_proxy backend:8000 {
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
        }
    }

    handle /redoc* {
        reverse_proxy backend:8000 {
            header_up X-Forwarded-Proto {scheme}
            header_up X-Forwarded-Host {host}
        }
    }

    handle {
        root * /srv/front
        try_files {path} /index.html
        file_server
    }
}
