@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-variant-numeric: lining-nums;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body.no-scroll {
  overflow: hidden;
}

.ChevronLeft {
  transform: rotate(180deg);
}

.ChevronDown {
  transform: rotate(90deg);
  transition: ease 0.3s;
}
.ChevronDown.open {
  transform: rotate(-90deg);
}

.ArrowLeft {
  transform: rotate(90deg);
}

.ArrowUp {
  transform: rotate(180deg);
}

.ant-form-item-label {
  padding: 0 !important; /* Убираем внутренние отступы у лейбла */
}
.ant-form-item-control {
  padding: 0 !important; /* Убираем внутренние отступы у инпута */
}

.ant-form-item-control {
  padding: 0 !important; /* Убираем внутренние отступы у инпута */
}
