@import 'Styles/mixins';
@import 'Styles/variables';

.SelectorContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.Selector {
  height: 40px;
  width: 100%;

  :global {
    .ant-select {
      border-radius: $border-radius;
      border-color: $grey;

      .ant-select-selector {
        @include text2;
        height: 40px !important;
        padding: 0 12px;
        display: flex;
        align-items: center;
        border: 1px solid $grey !important;
        border-radius: $border-radius;
        color: $black !important; // Текстовое значение
      }

      .ant-select-selection-placeholder {
        color: $black !important; 
        @include text2;
      }

      .ant-select-selection-item {
        @include text2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .ant-select-dropdown {
      border: 1px solid $grey;
      border-radius: 4px;
      box-shadow: none;
      max-width: 100%;
      word-wrap: break-word;
      white-space: normal;

      .ant-select-item-option-content {
        white-space: normal;
        word-break: break-word;
        @include text2;
      }

      .ant-select-item-option-selected {
        color: $black;
      }

      .ant-select-item-option:hover {
        background-color: transparent;
      }
    }
  }
}



.ListField {
    position: relative;

    cursor: pointer;
  
    .DropdownList {
      position: absolute;
      top: 100%;
      max-height: 190px;
      left: 0;
      background: white;

      border: 1px solid #ccc;
      border-radius: $border-radius;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 100%;
      z-index: 2000;
      overflow: hidden;

      .SearchField {
        width: 100%;
      }
  
      .DropdownItem {
        padding: 8px;
        cursor: pointer;
  
        &:hover {
          background-color: $grey;
        }
      }
    }

}

.SelectedList {
    display: flex;
    justify-content: start;
    align-items: center;
    min-height: 40px;
    padding: 12px;
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;

    border-radius: $border-radius;
    border: 1px solid $grey;
    list-style: none;

    .SelectedListItem {
        @include text2;
        padding: 8px;
        display: flex;
        gap: 4px;
        align-items: center;
        max-width: 100%;
        word-break: break-all;

        border-radius: $border-radius;
        background-color: $blue;

        svg {
          cursor: pointer;
          min-height: 16px;
          min-width: 16px;
        }
    }

    &.SelectedUsers {
      flex-direction: column;
      padding: 0;
      height: auto;
      gap: 0;

      .SelectedListItem {
        background: $white;
        width: 100%;
        justify-content: space-between;

        border-radius: 0;
        border-bottom: 1px solid $grey;

        &:first-child {
          border-radius: $border-radius $border-radius 0 0;
        }

        &:last-child {
          border-radius: $border-radius;
          border: none;
        }
      }
    }

    &.StatusesList {
      flex-direction: column;
      align-items: start;

      .positive {
        background-color:  $green;
      }

      .negative {
        background-color: $pink;
      }

    }
}

