.top-header {
  position: fixed;

  top: 10px;
  left: 260px;
  right: 10px;

  height: 60px;
  background: white;
  border-radius: 12px;
  border: 1px solid #e6e6e6;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 20px;
  z-index: 100;

  .header-logo {
    height: 36px;
  }

  .profile-box {
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid #dcdcdc;
    border-radius: 12px;
    height: 40px;
    padding: 0 12px;

    .user-icon {
      width: 24px;
      height: 24px;
    }
  }

  .login-btn {
    position: absolute;
    right: 20px;

    padding: 8px 14px;
    background: #6495ed;
    color: white;
    border-radius: 8px;
    text-decoration: none;
  }
}
