.page--events {
  --row-border-color: #6495ed;
  --badge-bg: rgba(100,149,237,0.08);
  --table-grid: 355px 365px 365px 360px 232px;
}

.page--directions {
  --row-border-color: #83d34a;
  --badge-bg: rgba(218,255,206,0.45);
  --table-grid: 480px 290px 290px 290px;
}

.page--projects {
  --row-border-color: #b77bdc;
  --badge-bg: rgba(240,221,255,0.55);
  --table-grid: 232px 232px 232px 232px 232px;
}
