.sidebar {
  width: 250px;
  height: 100vh;
  background: white;
  border-right: 1px solid #e6e6e6;

  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu {
    padding: 20px 0;
  }

  .menu-item {
    display: flex;
    align-items: center;
    gap: 12px;
    height: 40px;
    width: 75%;
    padding: 0 20px;
    border-radius: 8px;
    text-decoration: none;
    color: #222;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background: #ececec;
    }
  }

  .menu-item.active {
    background: rgba(100, 149, 237, 0.25);
    color: #222;
  }

  .divider {
    height: 1px;
    width: 100%;
    background: #e6e6e6;
    margin: 8px 0;
  }

  .exit-btn {
    border: none;
    background: white;
    padding: 10px 20px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    gap: 12px;
    margin: 20px;

    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
    }

    &:hover {
      background: #ececec;
    }
  }
}
