.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.left-side {
  display: flex;
  align-items: center;
  gap: 12px;
}

.create-btn {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--row-border-color);
  border-radius: 10px;
  border: none;

  cursor: pointer;

  img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
  }

  transition: transform 0.15s ease, opacity 0.15s ease;

  &:hover {
    transform: scale(1.25);
    opacity: 0.9;
  }
}


.right-side { 
  display: flex;
  align-items: center; 
  gap: 14px; 
}

.search-box { 
  width: 243px;
  height: 40px; 
  border: 1px solid #e6e6e6; 
  border-radius: 8px; 
  padding: 0 12px; 
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

.search-box input { 
  border: none; 
  outline: none; 
  width: 100%; 
  background: transparent; 
}

.tabs { 
  display: flex; 
  gap: 8px; 
  padding: 2px; 
}

.tab {
  padding: 9px 12px; 
  border-radius: 8px; 
  border: none; 
  cursor: pointer; 
  background: transparent;
}

.tab.events.active { 
  background:#6495ed; 
  color:white; 

}

.tab.directions.active { 
  background:#daffce; 
  color:#2b6a0a; 
}

.tab.projects.active { 
  background:#f0ddff; 
  color:#5b2b7a; 
}