$font-main: "Montserrat", sans-serif;

.h1 {
  font-family: $font-main;
  font-size: 30px;
  font-weight: 700;
  line-height: 28px;
}

.h2 {
  font-family: $font-main;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.h3 {
  font-family: $font-main;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
}

.h4 {
  font-family: $font-main;
  font-size: 24px;
  font-weight: 600;
  line-height: 22px;
}

.text-regular {
  font-family: $font-main;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.text-small {
  font-family: $font-main;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
